<?xml version="1.0"?>
<!--
Copyright (C) 2016 eMerchantPay Ltd.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      eMerchantPay
@copyright   2016 eMerchantPay Ltd.
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <payment>
            <emerchantpay_checkout>
                <active>0</active>
                <model>EMerchantPay\Genesis\Model\Method\Checkout</model>
                <order_status>payment_review</order_status>
                <title>Pay safely with eMerchantPay Checkout</title>
                <test_mode>1</test_mode>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <group>emerchantpay</group>
            </emerchantpay_checkout>
        </payment>
    </default>
</config>
